<div class="titlebox pad" >
  <div class="row">
    <div class="col-md-8">
      <h1>CURRENT GAMES</h1>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
<div class="table pad">
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="text-left">Name</th>
      <th class="text-left">Game Number</th>
      <th class="text-left"></th>
    </tr>
    </thead>
    <tbody class="table-hover"  ng-Controller="currentGameCtrl">
    <tr ng-repeat="game in games">
      <td class="text-left">{{game.game.name}}</td>
      <td class="text-left">{{game.number}}</td>
      <td class="text-left"> <a href="#/playboard/play/{{game.id}}"><button class="flat pull-right">PLAY</button></a</td>
    </tr>
    </tbody>
  </table>

</div>
