<div class="login-page" ng-Controller="UserCtrl">
  <div class="notify" ng-show="message">
    {{message}}
  </div>
  <div class="form" ng-submit="register()" ng-Controller="UserCtrl">
      <input type="text" ng-model="name" placeholder="Full Name"/>
      <input type="text" ng-model="email" placeholder="Email"/>
      <input type="text" ng-model="phone" placeholder="Phone"/>
      <input type="password" ng-model="password" placeholder="password" />
      <button  ng-Click=register()>Register</button>
      <p class="message">Already Registered? <a href="#/login">Login to your account</a></p>
    </form>
  </div>
</div>
