<md-dialog aria-label="Load Cash">
  <form ng-controller="walletCtrl">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Load Cash</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <ng-md-icon aria-label="Send Payment" icon="close"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="min-width:400px;min-height:200px; " layout-padding>
      <div layout-padding>
        <md-input-container class="md-block">
          <label>Amount </label>
          <input type="number" ng-model="amount">
        </md-input-container>
        <md-input-container class="md-block">
          <label>PIN</label>
          <input type='password'>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Transaction Description</label>
          <input type='text' ng-model="description">
        </md-input-container>
      </md-dialog-content>
      <md-dialog-actions layout="row" layout-padding>
        <span flex></span>
        <md-button ng-click="answer('cancel')" >
          CANCEL
        </md-button>
        <md-button ng-click="answer({amount:amount,description:description})" style="margin-right:20px;" >
          LOAD
        </md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>
